<div class="clr-row clr-justify-content-center">
  <ul class="clr-timeline clr-timeline-vertical">
    <!-- SP -->
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">Oct. 2019 - Present</div>
      <clr-icon shape="dot-circle" aria-current="true" aria-label="Current" style="color: #ff7b2b;"></clr-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">
          Scalable Path
        </span>
        <span class="clr-timeline-step-description">
          <em>Author &amp; Technical Editor, Part-Time, Remote</em>
          <ul>
            <li>Wrote <a href="https://www.scalablepath.com/blog/how-to-ace-technical-interview/">an article</a> on how to prepare for the skills assessment portion of a developer job interview</li>
            <li>Served as a technical subject matter expert for marketing content</li>
            <li>Assisted in editing blog posts and performing rewrites</li>
            <li>Wrote and reviewed copy for various public-facing tools</li>
            <li>Participated in semi-weekly marketing meetings</li>
          </ul>
          <a href="https://scalablepath.com"><button class="btn btn-sm btn-outline">Website</button></a>
        </span>
      </div>
    </li>

    <!-- PSD -->
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">
        2010 - 2019
        <br />
        <small>2006 - 2010*</small>
      </div>
      <clr-icon shape="dot-circle" aria-current="true" aria-label="Current" style="color: #192C47;"></clr-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">
          PSD Research, Consulting, and Software
        </span>
        <span class="clr-timeline-step-description">
          <em>Senior Full Stack Developer &amp; Systems Administrator, Full-Time, London ON</em>
          <ul>
            <li>Product owner, team leader, and lead developer on various asset management, financial, and geospatial SaaS applications for the Canadian public sector market</li>
            <li>Coded primarily in PHP, PostgreSQL, AngularJS, and Bootstrap</li>
            <li>Developed various scripts and 3rd-party integrations with client systems</li>
            <li>Performed code review, caught SQL injection, CSRF, and directory transversal vulnerabilities before they were added to the code base</li>
            <li>First developer hired, helped grow the company to 75+ employees with over 250 municipal clients across Canada</li>
            <li>Development work led to successful application for Scientific Research and Experimental Development (SR&ED) tax credits over multiple years</li>
            <li>Responsible for sysadmin, including multiple on-prem Ubuntu Linux servers (production and internal), network infrastructure (including remote sites), and an Avaya VOIP system</li>
            <li>Responsible for devops, including administration of self-hosted Atlassian products (JIRA, BitBucket, Bamboo, Confluence) including a build/testing server, data migration, and deployment procedures`</li>
            <li>Organized and ran programming challenges for the development group</li>
            <li>Assisted HR with interviewing candidates and technical screening</li>
          </ul>
          <a href="https://psdrcs.com"><button class="btn btn-sm btn-outline">Website</button></a>
          <small>*Part Time, Remote</small>
        </span>
      </div>
    </li>

    <!-- Degree -->
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">
        2006 - 2010
        <br />
        <clr-icon shape="certificate" title="Education"></clr-icon>
      </div>
      <clr-icon shape="dot-circle" aria-current="true" aria-label="Current" style="color: #003C71;"></clr-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">
          Ontario Tech University
        </span>
        <span class="clr-timeline-step-description">
          <em>Bachelor of Information Technology (Honours), Oshawa ON</em>
          <br />
          Network Security Specialization
          <br />
          <small><em>Formerly named University of Ontario Institute of Technology (UOIT)</em></small>
          <a href="https://ontariotechu.ca"><button class="btn btn-sm btn-outline">Website</button></a>
        </span>
      </div>
    </li>

    <!-- Scotia -->
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">2009 - 2010*</div>
      <clr-icon shape="dot-circle" aria-current="true" aria-label="Current" style="color: #ED0722;"></clr-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">
          Scotiabank
        </span>
        <span class="clr-timeline-step-description">
          <em>Security Research Intern, Part-Time, Scarborough ON</em>
          <ul>
            <li>Researched hardware & software security solutions for potential use within the organization</li>
            <li>Organized and managed a team consisting of four other interns</li>
            <li>Evaluated and tested security claims of potential solutions</li>
            <li>Collaborated with vendors to acquire necessary product information and demonstrations</li>
            <li>Compiled reports and recommendations based on project results that were then presented to upper management</li>
          </ul>
          <small>*Sept. 2009 - April 2010</small>
        </span>
      </div>
    </li>

    <!-- Atec -->
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">2006 - 2008</div>
      <clr-icon shape="dot-circle" aria-current="true" aria-label="Current" style="color: #2F8400;"></clr-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">
          Atec Computer Systems
        </span>
        <span class="clr-timeline-step-description">
          <em>Web Application Developer, Part-Time, Remote</em>
          <ul>
            <li>Developed web applications primarily based in PHP & MySQL for clients</li>
            <li>Designed and implemented inventory management, electronic document management, and image gallery applications</li>
            <li>Created automated email-based notification systems</li>
            <li>Installed and managed a LAMP server and several associated domains</li>
          </ul>
        </span>
      </div>
    </li>

    <!-- Winspear -->
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">2004 - 2007</div>
      <clr-icon shape="dot-circle" aria-current="true" aria-label="Current" style="color: #DFA100;"></clr-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">
          Winspear Homes
        </span>
        <span class="clr-timeline-step-description">
          <em>Web Developer, Part-Time, Smithville ON</em>
          <ul>
            <li>Created a showcase website for a local housing developer</li>
            <li>Hosted pictures and floor plans for available units</li>
            <li>Provisioned and managed a self-hosted Linux + Apache server for the site</li>
            <li>Successfully migrated project to a shared hosting provider upon completion</li>
          </ul>
        </span>
      </div>
    </li>

  </ul>
</div>