<div class="text-center icon-bar ">
  <clr-icon shape="code" style="color: #C92100;" class="thin-icon"
    (click)="activateIcon($event)" (mouseover)="activateIcon($event)" (mouseleave)="leaveIcon($event)"></clr-icon>
  <clr-icon shape="host" style="color: #DE400F;" class="thin-icon"
    (click)="activateIcon($event)" (mouseover)="activateIcon($event)" (mouseleave)="leaveIcon($event)"></clr-icon>
  <clr-icon shape="cloud-traffic" style="color: #C25400;"
    (click)="activateIcon($event)" (mouseover)="activateIcon($event)" (mouseleave)="leaveIcon($event)"></clr-icon>
  <clr-icon shape="storage" style="color: #D28F00;"
    (click)="activateIcon($event)" (mouseover)="activateIcon($event)" (mouseleave)="leaveIcon($event)"></clr-icon>
  <clr-icon shape="wifi" style="color: #266900;" class="mid-icon"
    (click)="activateIcon($event)" (mouseover)="activateIcon($event)" (mouseleave)="leaveIcon($event)"></clr-icon>
  <clr-icon shape="terminal" style="color: #007E7A;"
    (click)="activateIcon($event)" (mouseover)="activateIcon($event)" (mouseleave)="leaveIcon($event)"></clr-icon>
  <clr-icon shape="network-globe" style="color: #004D8A;" class="mid-icon"
    (click)="activateIcon($event)" (mouseover)="activateIcon($event)" (mouseleave)="leaveIcon($event)"></clr-icon>
  <clr-icon shape="lock" style="color: #1A23A0;" class="thin-icon"
    (click)="activateIcon($event)" (mouseover)="activateIcon($event)" (mouseleave)="leaveIcon($event)"></clr-icon>
  <clr-icon shape="users" style="color: #660092;"
    (click)="activateIcon($event)" (mouseover)="activateIcon($event)" (mouseleave)="leaveIcon($event)"></clr-icon>
  <clr-icon shape="file-group" style="color: #314351;" class="thin-icon"
    (click)="activateIcon($event)" (mouseover)="activateIcon($event)" (mouseleave)="leaveIcon($event)"></clr-icon>
  <div [innerHtml]="text[activeText]"></div>
</div>