<app-icon-bar></app-icon-bar>

<div class="clr-row clr-justify-content-center">
  <div class="clr-col-xl-6 clr-col-lg-8 clr-col-11">
    <div class="card">
      <div class="card-header">
        About Me
      </div>
      <div class="card-block">
        <div class="card-title">
          An Elevator Pitch
        </div>
        <div class="card-text">
          <p>At my old job, the joke was that if somebody had a problem with something that runs on electricity, they came to me. You can see that I <app-image-modal-link image="kid.jpg" text="started young" alt="Me as a kid sitting at a computer"></app-image-modal-link> and am still at it <app-image-modal-link image="server_room.jpg" text="to this day" alt="Me by some server racks"></app-image-modal-link>. I've worn many hats, am always learning, and have the ability to tackle complex problems involving multiple technologies. Tech is not just a career for me, but also something that I'm constantly involved with on my own time.</p>
          <p>My primary area of experience is as a full stack web application developer (modern JavaScript + PHP) with over 10 years of experience. I've served as a team lead, been responsible for sysadmin and devops, and have a passion for security. For more information on my experience, browse the controls and links above, or see my resume below.</p>
          <p>Lately I've been doing some writing. Check out my posts on <a href="https://medium.com/@KevinDawe">Medium,</a> as well as <a href="https://www.scalablepath.com/blog/">Scalable Path</a>, where I've also been acting as their technical editor and administering interviews. I'm hoping to continue working in this vein, since writing has been an underserved passion of mind, so I'm looking for new opportunities going forward.</p>
          <p>I'm currently living in London, Ontario (Canada) and am also looking for interesting local or remote opportunities in the development and systems space. If you have something in mind, please <a routerLink="/contact">get in touch</a>.</p>
        </div>
      </div>
      <div class="card-footer text-right">
        <a href="assets/Kevin_Dawe_Resume_FS.pdf" target="_blank">
          <button class="btn btn-primary">
            Resume
            <clr-icon shape="file"></clr-icon>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>