<div class="text-center">
  Some occasional musings:
</div>
<div class="clr-row clr-justify-content-center">

  <div class="clr-col-xl-7 clr-col-lg-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        What I've Been Up To
      </div>
      <div class="card-block">
        <div class="card-title">
          2019-10-11
        </div>
        <div class="card-text">

          <p>A quick note on what I've been doing after deciding to leave my job at the end of August:</p>
          <p>Mostly I've been updating my skills, primarily re: modern JavaScript frameworks and practices. I'm still looking forward to playing around with Vue 3 (although the community seems up-in-arms about it being too React-like) when I get a chance, along with a laundry list of other tech that's been on my radar.</p>
          <p>I also landed some article writing work which I'll post about later (once it's live), mostly as a change of pace, although I've always enjoyed writing. On top of that, I've been poking around with bug bounties on <a href="https://hackerone.com">HackerOne</a> and <a href="https://bugcrowd.com">Bugcrowd</a>. I believe I've landed one (knock on wood), and right now am just waiting for the vendor to finish triaging it.</p>
          <p>I also contributed to my first <a href="https://github.com/4ern/angular-cli-for-sublime-text">FOSS project</a> on GitHub, and actually became a collaborator, which is something I've always wanted to do. I guess this pays the community back for all the value I've gotten form it over the years, right? Right?</p>
          <p>So much to do, so little time!</p>

        </div>
      </div>
    </div>
  </div>

  <div class="clr-col-xl-7 clr-col-lg-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        Inaugural Post - New Website!
      </div>
      <div class="card-block">
        <div class="card-title">
          2019-10-10
        </div>
        <div class="card-text">

          <p>I finally got around to updating my website. Although I kinda liked my old, minimal one, it was due for a refresh and a more professional feel. My portfolio section was getting a bit cluttered as well.</p>
          <p>This site is written with Angular &amp; Typescript, using the <a href="https://clarity.design">Clarity Design</a> UI framework, and you can <a href="https://github.com/kld87/kd-web">check out the code</a> if you're interested in the guts. It's pretty standard, no WordPress (or any CMS), just bespoke and easy to manage. I'm happy how it turned out, and quite like the UI framework. I initially wanted to include my version of <a href="http://metamask.github.io/metamask-logo/">this interactive logo</a> somewhere (source available <a href="https://github.com/MetaMask/metamask-logo">here</a>), but it turned out to be a bit too arduous right now. It looks like the proper path would actually be to use <a href="https://threejs.org">three.js</a> plus something like Blender to make the model. I ended up with my rainbow button-bar instead (on the <a routerLink="/about">about</a> page) which I'm really happy with.</p>
          <p>Anyway, I'm not expecting to be posting here too often. As such the layout of this section is pretty minimal. In the future I may make it more robust (like adding an index and more of a list-detail format) to keep things from getting too cluttered.</p>
          <p>Either way, thanks for stopping by, and <a routerLink="/contact">let me know what</a> you think of the new site!</p>

        </div>
      </div>
    </div>
  </div>

</div>