<div class="text-center">
  Some occasional musings and updates:
</div>
<div class="clr-row clr-justify-content-center">

<div class="clr-col-xl-7 clr-col-lg-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        New Job!
      </div>
      <div class="card-block">
        <div class="card-title">
          2020-10-31
        </div>
        <div class="card-text">

          <p>I’ve recently started a new job as a Cybersecurity Specialist at <a href="https://vumetric.com" target="_blank">Vumetric</a>. My primary focus is on penetration testing, which is both challenging and exciting. As security has been a lifelong passion of mine, I think this is a positive career move. I’m hoping to pursue my <a href="https://www.offensive-security.com/pwk-oscp/" target="_blank">OSCP</a> certification in the near future, and have been spending a lot of time doing <a href="https://www.hackthebox.eu/">Hack The Box</a> challenges in the meantime to get ready.</p>
          <p>Looking forward to see where things go from here!</p>

        </div>
      </div>
    </div>
  </div>

  <div class="clr-col-xl-7 clr-col-lg-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        Remote Life
      </div>
      <div class="card-block">
        <div class="card-title">
          2020-04-29
        </div>
        <div class="card-text">

          <p>I've been lucky enough to keep working remotely during the pandemic. I've started creating and administering technical interviews at my current job with Scalable Path. I really enjoy doing it because it exposes me to a lot of different technologies, and watching candidates do coding exercises always teaches me something new. I think looking at other people's code (and watching them code) is a great way to stumble across "oh, I didn't know you could do that!" moments that make one a better developer.</p>
          <p>I've also continued to <a href="https://medium.com/@KevinDawe">write on Medium</a>, although admittedly I'm not posting as often as I initially was. I still enjoy doing it but am trying to focus on producing quality articles vs. a quantity of them - although the prevailing wisdom on Medium seems to be "post often". I'm not really on the site to make money - rather get writing practice and build a bit of a portfolio, so that's fine by me. I'm lucky in that I've gotten my pieces accepted into several publications like Better Programming, gitconnected, UX Collective, and others.</p>
          <p>I also completed levels 1-4 of Google's "foobar" challenge, which let me dust off some of my algorithm knowledge, and served as a good driver to improve my Python skills. It's definitely a powerful language, and I see why it's gaining so much popularity.</p>
          <p>That's all for now!</p>

        </div>
      </div>
    </div>
  </div>

  <div class="clr-col-xl-7 clr-col-lg-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        Quick Update
      </div>
      <div class="card-block">
        <div class="card-title">
          2019-12-13
        </div>
        <div class="card-text">

          <p>I've been up to a couple of things lately:</p>
          <p>First, I've been helping to edit technical content for the company I recently wrote an article for, <a href="https://scalablepath.com">Scalable Path</a>. There was a bit of a learning curve since I've never done editing professionally before (and not a ton of professional writing). Now that I've found my footing, I'm quite enjoying it, and it's a nice break from the coding/sysadmin work I'm used to doing. The great thing about writing (English) vs. coding is that English stays relevant in perpetuity! You don't have to learn a new framework/library every two years so you can continue to compete in the industry. If I survey my mental graveyard of languages I no longer use: Turing, Delphi, VB, ASP, ActionScript, Knockout/Backbone, AngularJS... the list goes on.</p>
          <p>Secondly, I just wrote and published a game that I used to love as a kid: Super Mastermind. Head on over to my <a href="/portfolio">portfolio</a> section to check it out!</p>
          <p>Beyond that, I'm taking a bit of time to step back, relax, and evaluate my opportunities as the decade draws to an end. The next one is bound to be interesting...</p>

        </div>
      </div>
    </div>
  </div>

  <div class="clr-col-xl-7 clr-col-lg-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        What I've Been Up To
      </div>
      <div class="card-block">
        <div class="card-title">
          2019-10-11
        </div>
        <div class="card-text">

          <p>A quick note on what I've been doing after deciding to leave my job at the end of August:</p>
          <p>Mostly I've been updating my skills, primarily re: modern JavaScript frameworks and practices. I'm still looking forward to playing around with Vue 3 (although the community seems up-in-arms about it being too React-like) when I get a chance, along with a laundry list of other tech that's been on my radar.</p>
          <p>I also landed some article writing work which I'll post about later (once it's live), mostly as a change of pace, although I've always enjoyed writing. On top of that, I've been poking around with bug bounties on <a href="https://hackerone.com">HackerOne</a> and <a href="https://bugcrowd.com">Bugcrowd</a>. I believe I've landed one (knock on wood), and right now am just waiting for the vendor to finish triaging it.</p>
          <p>I also contributed to my first <a href="https://github.com/4ern/angular-cli-for-sublime-text">FOSS project</a> on GitHub, and actually became a collaborator, which is something I've always wanted to do. I guess this pays the community back for all the value I've gotten form it over the years, right? Right?</p>
          <p>So much to do, so little time!</p>

        </div>
      </div>
    </div>
  </div>

  <div class="clr-col-xl-7 clr-col-lg-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        Inaugural Post - New Website!
      </div>
      <div class="card-block">
        <div class="card-title">
          2019-10-10
        </div>
        <div class="card-text">

          <p>I finally got around to updating my website. Although I kinda liked my old, minimal one, it was due for a refresh and a more professional feel. My portfolio section was getting a bit cluttered as well.</p>
          <p>This site is written with Angular &amp; Typescript, using the <a href="https://clarity.design">Clarity Design</a> UI framework, and you can <a href="https://github.com/kld87/kd-web">check out the code</a> if you're interested in the guts. It's pretty standard, no WordPress (or any CMS), just bespoke and easy to manage. I'm happy how it turned out, and quite like the UI framework. I initially wanted to include my version of <a href="http://metamask.github.io/metamask-logo/">this interactive logo</a> somewhere (source available <a href="https://github.com/MetaMask/metamask-logo">here</a>), but it turned out to be a bit too arduous right now. It looks like the proper path would actually be to use <a href="https://threejs.org">three.js</a> plus something like Blender to make the model. I ended up with my rainbow button-bar instead (on the <a routerLink="/about">about</a> page) which I'm really happy with.</p>
          <p>Anyway, I'm not expecting to be posting here too often. As such the layout of this section is pretty minimal. In the future I may make it more robust (like adding an index and more of a list-detail format) to keep things from getting too cluttered.</p>
          <p>Either way, thanks for stopping by, and <a routerLink="/contact">let me know what</a> you think of the new site!</p>

        </div>
      </div>
    </div>
  </div>

</div>